#profilePic {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h2 {
    color: rgba(44, 205, 92, 0.855);
    text-align: center;
}

#aboutMe {
    color: white;
}

#aboutMe h4 {
    font-size: 20px;
    margin-left: 2%;
}

#aboutMe p {
    margin-left: 3%;
    margin-right: 3%;
}

.favMoments {
    margin-left: 2%;
}

a.favMoments {
    color: rgba(44, 205, 92, 0.855);
}

#favMoments a:hover {
    color: dodgerblue;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}